doctype html
html
  head
    title Todo App
    link(rel="stylesheet" href="css/style.css")
  body
    h1 MarionetteJS Todo List

    #form

    .todolist
      h2 Active Todo's
      .tableheaders
        h5#title Title
        h5#duedate Due Date
        h5#markcomplete Mark Complete
      #list

    .todolist
      h2 Completed Todo's
      .tableheaders
        h5#title Title
        h5#duedate Due Date
        h5#markcomplete Mark Complete
      #completedlist

    script(id="formView", type="text/template")
      h2 New Todo
      #inputs
        h5#title_header.input_header Title:
        h5#duedate_header.input_header Due-Date:
        input#title(type="text", name="title" class="new_todo")
        input#due_date(type="date", name="due_date" class="new_todo")
        button#submit(type="submit" class="button round") Submit

    script(id="todoView", type="text/template")
      != '<td class="title"><div><%=title%></div></td>'
      != '<td class="due_date"><%=due_date%></td>'
      != '<td><button class="button round" id=markCompleted>X</button></td>'

    script(id="todoListView", type="text/template")

    script(id="completedTodoListView" type="text/template")
      h1 Completed Todos
      != '<td><%=title%></td>'
      != '<td class="due_date"><%=due_date%></td>'

    script(src="js/vendor/jquery/dist/jquery.min.js")
    script(src="js/vendor/underscore/underscore-min.js")
    script(src="js/vendor/backbone/backbone-min.js")
    script(src="js/vendor/backbone.marionette/lib/backbone.marionette.min.js")
    script(src="js/vendor/backbone.localstorage/backbone.localStorage-min.js")
    script(src="js/todo.model.js")
    script(src="js/todo.layout.js")
    script(src="js/todo.controller.js")
    script(src="js/todo.app.js")
    script(src="app.js")
    
