doctype html
html
  head
    title Todo App
  body

    #form
    #list
    #completedlist

    script(id="formView", type="text/template")
      h2 New Todo
        p Title:
        input#title(type="text", name="title")
        p Due-Date:
        input#due_date(type="date", name="due_date")
        button#submit(type="submit") Submit

    script(id="todoView", type="text/template")
      p "TEST TODO VIEW" 


    script(id="todoListView", type="text/template")
      h1 Todos List
      ul
          li



    script(src="js/vendor/jquery/dist/jquery.min.js")
    script(src="js/vendor/underscore/underscore-min.js")
    script(src="js/vendor/backbone/backbone-min.js")
    script(src="js/vendor/backbone.marionette/lib/backbone.marionette.min.js")
    script(src="js/vendor/backbone.localstorage/backbone.localStorage-min.js")
    script(src="js/todo.model.js")
    script(src="js/todo.layout.js")
    script(src="js/todo.controller.js")
    script(src="js/todo.app.js")
